/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html,
body {
  height: 100%;
}

body {
    font: 16px/26px Frutiger, Helvetica, Helvetica Neue, Arial;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    width: 97%;
    margin: 0 1.5%;
}

/* GENERAL STYLES */
#topWrapper {
	border-top: .5em solid #FFF;
  margin: 0;
  position: fixed;
	top:0px;
	left: 0px;
	width: 100%
}

#bgWrapper {
	position: relative;
/*	background-image: url(../images/bg/coral-ocean.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
*/
	border-bottom: .5em solid #FFF;
	border-left: .5em solid #FFF;
	border-right: .5em solid #FFF;
  min-height: 1226px;
	padding: 1em 0em;
}

.bgImage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
/*
Need to use JS fade due to Chrome bug with background-attachment:fixed;
	-moz-transition: opacity 2s ease-in-out;
	-ms-transition: opacity 2s ease-in-out;
	-o-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
	transition: opacity 2s ease-in-out;
*/
}

#bgImage1 {
	background-image: url(../images/bg/mountains.jpg);
	z-index: -2;
}

#bgImage2 {
	background-image: url(../images/bg/coral-ocean.jpg);
	z-index: -1;
}

.hideImage {
	opacity: 0;
}

.main {
    color: #FFF;
}

#logo {
	margin: .5em 1.5em;
  padding: 0 1em;
	text-align: center;
	}

#logo a {
	display: inline-block;
}

#logo a:hover {
	opacity: 0.8;
}

#logo img {
  width: 90%;  
}

#pageHeadline,
#pageHeader h2 {
	color: #FFF;
	margin-top: 5px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;
	width: 95%;
}

#pageHeadline img {
	width: 80%;
	max-width: 440px;
}

#pageHeader h2 {
	font-size: 0.9em;
}

#homePreLaunch {
	text-align: center;
}

#intro p {
	margin-bottom: 0;
}

.subHead {
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
	font-size: 1.25em; /* 20/16 */
	font-weight: bold;
	text-transform: uppercase;
}

.subHead p {
	margin-bottom: 0em;
}

.subHead2 {
  color: #FFF;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
}

#homePreLaunchIntro {
  margin-bottom: 0em;
  }

#contactInfo a {
	color: #FFF;
	text-decoration: none;
}

#contactInfo a:hover {
	color: #3a6e38;
}

#signature {
	display: none;
}

/* ASIDE */
#quote {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: uppercase;
	width: 95%;	
}

/*
#quote blockquote {
	font-size: 0.875em;
	font-weight: bold;
	margin: 0 0 5px 0;
}

#quote cite {
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
	font-size: 0.75em;
	font-style: normal;
}
*/

.row {
	margin-bottom: 1em;
	width: 100%;
}

.videoContainer,
.pdfContainer {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 100%;
}

.videoAuthor,
.pdfAuthor {
		font-size: 0.75em;
		text-transform: uppercase;
		margin-bottom: 5px;
}

.videoLink,
.pdfLink {
		font-size: 0.875em;
		margin-top: 5px;
}

.videoLink a,
.pdfLink a {
	background-color: #FFF;
	display: inline-block;
	text-decoration: none;
}

.videoLink a:hover,
.pdfLink a:hover {
	text-decoration: underline;
}

.videoLink img,
.pdfLink img {
	border: 5px solid #FFF;
}

/* FOOTER */

#pageFooter {
  border: 1.5em solid #FFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  height: 80px;
  position: fixed;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
}

#partnerLogos {
  float: left;
  width: 30%;
}

#colophon {
  color: #bbbbbc;
  float: right;
  font-size: 0.55em;
  margin-bottom: 1em;
  text-align: right;
  text-transform: uppercase;
  width: 70%;
}

#colophon p {
  line-height: 1.8;
  margin: 0;
}

#colophon a {
  background-color: #bbbbbc;  
  color: #fff;    
  display: inline-block;
  font-weight: bold;
  padding: 0.25em;
  text-decoration: none;
}

.bold {font-weight: bold;}
.upper {text-transform: uppercase;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

	.videoContainer,
	.pdfContainer {
		margin-left: .5em;
		margin-right: .5em;
		width: auto;
	}
	
}

@media only screen and (min-width: 600px) {

	#homePreLaunchIntro {
	  margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
  }

	#pageHeadline img {
		width: 100%;
	}

}

@media only screen and (min-width: 768px) {

	#topWrapper {
		border-top: 1.5em solid #FFF;
	}

	#bgWrapper {
		border-bottom: 1.5em solid #FFF;
		border-left: 1.5em solid #FFF;
		border-right: 1.5em solid #FFF;
		}

	#logo {
		margin: 1.5em 0 0 0;
		text-align: left;
	}

	#pageHeadline {
		padding-top: 50px;
		width: 65%;
	}

	#pageHeader h2 {
		font-size: 1.5em;
		width: 65%;
	}
	
	.subHead {
		font-size: 1.45em; /* 22/16 */
	}
	
	#signature {
	width: 140px;
	display: inline;
	}

	#quote {
		float: right;
		text-align: right;
	}

	#quote blockquote {
		font-size: 1.2em;
		margin: 0 0 10px 0;
	}

	#quote cite {
		font-size: 0.875em;
	}
		
}

@media only screen and (min-width: 940px) {
	
/*	.videoContainer,
	.pdfContainer {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
	} */
	
}

@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}